@media only screen and (min-width: 1000px) {

.actividades {
  background-image: url(../images/LogoNavBar.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 90vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: /* Esto es el grid area, para colocar cada DIV donde corresponde */
    "dia    lunes martes miercoles jueves viernes "
    "hora1  hl1   hm1    hx1       hj1    hv1    "
    "hora2  hl2   hm2    hx2       hj2    hv2    "
    "hora3  hl3   hm3    hx3       hj3    hv3    "
    "hora4  hl4   hm4    hx4       hj4    hv4    "
    "hora5  hl5   hm5    hx5       hj5    hv5    ";

  grid-gap: 5px;

  margin-top: 40px;
}
.dia {
  grid-area: dia;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.dlunes {
  grid-area: lunes;
  display: flex;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}
.dmartes {
  grid-area: martes;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.dmiercoles {
  grid-area: miercoles;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.djueves {
  grid-area: jueves;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.dviernes {
  grid-area: viernes;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#dia {
  transition: 0.5s;
}
#dia:hover {
  transform: scale(1.2);
}
.hora1 {
  grid-area: hora1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-weight: 900;
}
.hora2 {
  grid-area: hora2;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.hora3 {
  grid-area: hora3;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.hora4 {
  grid-area: hora4;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.hora5 {
  grid-area: hora5;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.hl1 {
  grid-area: hl1;
  height: 100%;
}
.hl2 {
  grid-area: hl2;
  height: 100%;
}
.hl3 {
  grid-area: hl3;
  height: 100%;
}
.hl4 {
  grid-area: hl4;
  height: 100%;
}
.hl5 {
  grid-area: hl5;
  height: 100%;
}
.hm1 {
  grid-area: hm1;
  height: 100%;
}
.hm2 {
  grid-area: hm2;
  height: 100%;
}
.hm3 {
  grid-area: hm3;
  height: 100%;
}
.hm4 {
  grid-area: hm4;
  height: 100%;
}
.hm5 {
  grid-area: hm5;
  height: 100%;
}
.hx1 {
  grid-area: hx1;
  height: 100%;
}

.hx2 {
  grid-area: hx2;
  height: 100%;

}
.hx3 {
  grid-area: hx3;
  height: 100%;
}
.hx4 {
  grid-area: hx4;
  height: 100%;
}
.hx5 {
  grid-area: hx5;
  height: 100%;
}
.hj1 {
  grid-area: hj1;
  height: 100%;
}
.hj2 {
  grid-area: hj2;
  height: 100%;
}
.hj3 {
  grid-area: hj3;
  height: 100%;
}
.hj4 {
  grid-area: hj4;
  height: 100%;
}
.hv1 {
  grid-area: hv1;
  height: 100%;
}
#horas {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #f5f5f5e8;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
}
#horasL {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #f5f5f5e8;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
}
#horas:hover {
  transform: scale(1.2);
  background-color: #f5f5f5;
  cursor: pointer;
  z-index: 1;
}


.dlunes:hover ~ #horasL {
  backdrop-filter: blur(30px);
  background-color: yellow;
}
.horasMov{
  display: none;
}

#hovHorL:hover {
  transform: scale(1.2);
  background-color: #f5f5f5;
  cursor: pointer;
  z-index: 1;
  transition: 0.5s;
}

.checky{
  display: none;
}
}


@media only screen and (max-width: 600px) {

/* .nav #nav-check:checked ~ .nav-btn > label {
  background-color: rgba(0, 0, 0, 0.3);
  height: 32px;
} */

#lun:checked ~ #hovHorL{
  display: flex;
  flex-direction: column;
  background-color: yellow;
  height: 100%;
  transition: all 1s;
}
#mar:checked ~ #hovHorM{
  display: flex;
  flex-direction: column;
  background-color: yellow;
}
#mier:checked ~ #hovHorX{
  display: flex;
  flex-direction: column;
  background-color: yellow;
}
#juev:checked ~ #hovHorJ{
  display: flex;
  flex-direction: column;
  background-color: yellow;
}
#vier:checked ~ #hovHorV{
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

#hovHorL{
  /* display: none; */
  display: flex;
  height: 0vh;
}
#hovHorM{
  display: none;
}
#hovHorX{
  display: none;
}
#hovHorJ{
  display: none;
}
#hovHorV{
  display: none;
}
.hora1{
  display: none;
}
.hora2{
  display: none;
}
.hora3{
  display: none;
}
.hora4{
  display: none;
}
.hora5{
  display: none;
}

.dlunes{
  display: none;
}
.dmartes{
  display: none;
}
.dmiercoles{
  display: none;
}
.djueves{
  display: none;
}
.dviernes{
  display: none;
}

.checkcheck{
  display: none;
}

.actividades{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dlunes{
  font-size: 2rem;
  border: 4px red solid;
  padding:0.5rem 100% ;
}
.dmartes{
  font-size: 2rem;
  border: 4px red solid;
  padding:0.5rem 100% ;
}
.dmiercoles{
  font-size: 2rem;
  border: 4px red solid;
  padding:0.5rem 100% ;
}
.djueves{
  font-size: 2rem;
  border: 4px red solid;
  padding:0.5rem 100% ;
}
.dviernes{
  font-size: 2rem;
  border: 4px red solid;
  padding:0.5rem 100% ;
}

.checky{
  padding: 0.5rem 100vw;
  font-size: 2rem;
  background-color: #efefef;
  border: solid #9bdad8 2px;
  border-radius: 16px;
  font-weight:bold;
  /* transition: all 1s; */
}

}