/* !Empieza hamburguesa */
@media only screen and (min-width: 1000px) {
  .nav h1 {
    display: none;
  }
  .navBar .nav {
    background-color: white;
    z-index: 100;
  }
  .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  .nav-title {
    background-color: #eee;
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 0 2rem;
    background-color: white;
    color: #fff;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  button {
    color: black;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
  }

  button::before {
    margin-left: auto;
  }

  button::after,
  button::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }

  button:hover::after,
  button:hover::before {
    width: 100%;
  }
  button:hover {
    cursor: pointer;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;
  }
}

@media only screen and (max-width: 600px) {
  .navBar .nav {
    background-color: rgb(24, 81, 240);
    z-index: 100;
    margin-left: -40px;
    margin-top: -40px;
    height: 50px;
  }
  .nav {
    background-color: white;
    z-index: 100;
  }
  .navBar > .nav-btn {
    display: inline-block;
    position: absolute;
  }
  .navBar > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .navBar > .nav-btn > label:hover,
  .navBar #nav-check:checked ~ .nav-btn > label {
    background-color: rgb(56, 250, 59);
  }
  .navBar > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid rgb(60, 56, 250);
  }
  .navBar > .nav-links {
    position: absolute;
    display: block;
    width: 100vw;
    background-color: rgb(60, 56, 250);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
  }
  .navBar > .nav-links > a {
    display: block;
    width: 100%;
  }
  .navBar > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .navbAR > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  button {
    color: white;
    text-decoration: none;
    font-size: 35px;
    border: none;
    background: none;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
  }
  li {
    text-align: center;
  }
}

/* !Acaba nav hamburguesa */
