/* !Empieza hamburguesa */
.navbar {
  background-color: #4d4d4d;
  height: 120px;
  width: 100vw;
  position: relative;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 120px;
  width: 100vw;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .nav h1 {
    display: none;
  }
  .navBar .nav {
    background-color: white;
    z-index: 100;
  }
  .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  .nav-title {
    background-color: #eee;
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    align-self: center;
    padding: 0 2rem;
    background-color: white;
    color: #fff;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 25px;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  button {
    color: black;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
  }

  button::before {
    margin-left: auto;
  }

  button::after,
  button::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }

  button:hover::after,
  button:hover::before {
    width: 100%;
  }
  button:hover {
    cursor: pointer;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;
  }
}

@media only screen and (max-width: 600px) {
  /* Color cambiado por el blanco  rgb(24, 81, 240)*/
  .navBar .nav {
    background-color: white;
    z-index: 100;
    margin-left: -40px;
    margin-top: -40px;
    height: 50px;
    width: 100vw;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 20px;
    /* right: 0px; */
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
    height: 32px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 6px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    /* background-color: #333; */
    background-color: #9bdad8;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    /* box-shadow: 10px 5px 5px black; */
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  button {
    color: white;
    text-decoration: none;
    font-size: 35px;
    border: none;
    background: none;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }
  li {
    text-align: center;
  }
}

/* !Acaba nav hamburguesa */
